
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");

body {
    font-family: 'Noto Sans', sans-serif;
}

.note-graph {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    color: #333;
}

h2 {
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

h3::before {
    content: '# ';
    color: #42B983;
}

table, td, th {
    box-shadow: 0 0 1px black;
}

code {
    color: #5AC193;
}

.tip, .question {
    position: relative;
    padding-left: 1em;
}

.tip {
    border-left: 4px solid hsl(0, 100%, 70%);
}

.question {
    border-left: 4px solid hsl(46, 100%, 70%);
}


.tip::before, .question::before {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -.88em;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.tip::before {
    content: '!';
    background-color: hsl(0, 100%, 70%);
}

.question::before {
    content: '?';
    background-color: hsl(46, 100%, 70%);
}

.console-error {
    color: red;
    background-color: #FFF0F0;
    outline: 1px solid #FFD7D7;
    padding: 8px 25px;
    position: relative;
    font-family: monospace;
    font-style: 10pt;
}

.console-error i {
    content: '';

    position: absolute;
    left: 8px;
    top: 10px;
}
